.home {
  &__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--primary-color);
    padding: 2rem 1rem;
    margin: 0.5rem 0 2rem 0;

    &-image {
      width: 100%;
      max-width: 350px;
      margin-bottom: 1rem;
    }
    &-title {
      margin: 0.5rem 0;
      color: var(--secondary-color);
      font-size: 2rem;
    }
    &-subtitle {
      color: var(--text-color-secondary);
      font-size: 1.1rem;
      margin-bottom: 0;
    }
  }
}