@use '../abstracts/variables';

.footer {
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 2rem 1rem;
    left: 0;
    bottom: 0;
    width: 100%;

    &__title {
        margin: 1rem 0 0.5rem 0;
        color: var(--secondary-color)
    }

    &__copyright,
    &__phone,
    &__email {
        color: var(--secondary-color);
    }

    &__link {
        color: var(--secondary-color);
        transition: color 0.2s;

        &:hover {
            color: var(--secondary-color);
        }
    }

}