@use '../abstracts/variables';

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color);
    padding: 0 1rem;
    height: 60px;

    &__logo img {
        height: 2rem
    }

    &__menu {
        flex: 1;
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        margin: 0;
    }

    &__link {
        color: var(--secondary-color);
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
        transition: color 0.3s, font-size 0.3s;

    }

    &__link:hover {
        color: var(--text-color-secondary);
        transition: color 0.3s, font-size 0.3s;
        font-size: 1.7rem;
    }

    &__icons {
        display: flex;
        gap: 1rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__icon svg {
        color: var(--primary-color);
        height: 1.5rem;
        transition: color 0.3s, transform 0.3s;
        cursor: pointer;
    }

    &__icon svg:hover {

        color: #CFFFEF;
        transform: scale(1.13);
    }
}