@use '../abstracts/variables';

body.dark {
  --primary-color: #{variables.$primary-color-dark};
  --secondary-color: #{variables.$secondary-color-dark};
  --background-color: #{variables.$background-color-dark};
  --text-color: #{variables.$text-color-dark};
  --text-color-secondary: #{variables.$text-color-secondary-dark};
  --border-color: #{variables.$border-color-dark};
  --accent-color: #{variables.$accent-color-dark};
}
