
/* Colores basicos modo claro 
$primary-color: #CFFFEF;
$secondary-color: #063636;
$background-color: #f5f5f5;
$text-color: #333;
$text-color-secondary: #666;


/* Colores basicos modo oscuro 
$primary-color-dark: #042525;
$secondary-color-dark: #defff4;
$background-color-dark: #121212;
$text-color-dark: #e0e0e0;
$text-color-secondary-dark: #b0b0b0;

/* Bordes 
$border-radius: 8px;
*/